<footer>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
    <link href="{{.Site.BaseURL}}css/index.css" type="text/css" rel="stylesheet"></link>
    <div class="row align-items-center">
        <div class="col">===============================================================</div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <a href="https://github.com/quorauk">Github</a>
            <a href="https://www.linkedin.com/in/quorauk/">Linkedin</a>
            | Max Prettyjohns 2019 |
            <a href="https://github.com/quorauk/terminal-dreams">Theme</a>
        </div>
    </div>
</footer>