<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.ga_code }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ .Site.Params.ga_code }}');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Homepage for Max Prettyjohns.">
    <link href="{{.Site.BaseURL}}css/mystyles.css" type="text/css" rel="stylesheet">
    </link>
    {{ partial "seo_schema" . }}
    <title>Max Prettyjohns</title>
</head>